{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class='big_fields_text'>
	<section class="grid-box">
		
	{% for the_newsstory in news_list %}

	<div>
		<img class="" src="{{the_newsstory.img.url}}">

		<div class=" px-4">
			<h2 class="indigo pt-4 pb-2">{{ the_newsstory.title }}</h2>
			<p class="card-text my-3">{{ the_newsstory.first_two_sentences }}..</p>
			<p class="pt-1 pb-3 indigo small"><b>Теги: </b>
				{% for tag in the_newsstory.tags.all %}
					{{ tag }}{% if not forloop.last %}, {% endif %}
				{% empty %}
					У новости нет тегов
				{% endfor %}
			</p>

			<a href="{% url 'news:the_newsstory' id=the_newsstory.newsstory_id %}">
				<button class="white indigo_bg ">Читать</button>
			</a>
		</div>	
	</div>

	{% endfor %}

	</section>
</div>

<script type="text/javascript" src='{% static "js/activate_carousel.js" %}'></script>

<script>
// Initialize Masonry after all images have loaded
window.onload = function() {
    var elem = document.querySelector('.tours_container');
    var msnry = new Masonry(elem, {
        itemSelector: '.card',
        columnWidth: '.card', // Use the card itself as the column width
        percentPosition: true,
        gutter: 20 // Adjust gutter as needed
    });
};
</script>



{% endblock %}