@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root{
  --black_absolute:rgb(0,0,0);       /*  #000000  */
  --black: rgb(29, 28, 28);          /*  #1d1c1c  */
  --gray_light: rgb(217, 217, 217);  /*  #d9d9d9  */
  --gray: rgb(119, 118, 118);        /*  #777676  */
  --indigo: rgb(58, 59, 115);        /*  #3a3b73  */
  --lavender: rgb(223, 192, 190);    /*  #dfc0be  */
  --orange: rgb(255, 200, 109);      /*  #ffc86d  */
  --red: rgb(244, 88, 101);          /*  #f45865  */
  --seagreen: rgb(151, 209, 195);    /*  #97d1c3  */
  --white: rgb(255, 255, 255);       /*  #ffffff  */
  --white_warm: rgb(255, 245, 233);  /*  #fff5e9  */
  --white_dirty: rgb(245, 245, 245); /*  #f5f5f5  */
}

html{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  padding: 0;
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar { 
	z-index:999
}

.tenor{
  font-family: "Tenor Sans", sans-serif;
}

a {
	text-decoration: none!important;
}

button{
	border-radius: 5px!important;
	border: none;
	cursor: pointer;
	text-align: center;
	padding: .5em 1.5em ;
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

p {
	font-size: 1em;
}


.smaller{
	font-size: .7em !important;
}

.big_4{
	font-size: 4em !important;
}


 /* COLORS */ 



.black{
	color: var(--black);
}
.black_absolute{
  color: var(--black_absolute);
}
.gray_light{
  color: var(--gray_light);
}
.gray{
  color: var(--gray);
}
.indigo{
	color: var(--indigo);
}
.lavender{
	color: var(--lavender);
}
.orange {
	color: var(--orange);
}
.red{
	color: var(--red);
}
.seagreen{
	color: var(--seagreen);
}
.white{
	color: var(--white);
}
.white_warm{
	color: var(--white_warm);
}
.white_dirty{
  color: var(--white_dirty);
}


.black_bg{
	background-color: var(--black);
}
.black_absolute_bg{
  background-color: var(--black_absolute);
}
.gray_light_bg{
  background-color: var(--gray_light);
}
.gray_bg{
  background-color: var(--gray);
}
.indigo_bg{
	background-color: var(--indigo);
}
.lavender_bg{
	background-color: var(--lavender);
}
.orange_bg{
	background-color: var(--orange);
}
.red_bg{
	background-color: var(--red);
}
.seagreen_bg{
	background-color: var(--seagreen);
}
.white_bg{
	background-color: var(--white);
}
.white_warm_bg{
	background-color: var(--white_warm);
}
.white_dirty_bg{
  background-color: var(--white_dirty);
}



.absolute{
	position: absolute;
}
.relative{
	position: relative;
}

.tl_radius{
	border-top-left-radius: 3.6em;
}
.tr_radius{
	border-top-right-radius: 3.6em;
}
.br_radius{
	border-bottom-right-radius: 3.6em;
}
.bl_radius{
	border-bottom-left-radius: 3.6em;
}



/*  DESCTOP  */
@media (min-width: 811px){

	.big_fields_text{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.big_fields_text_50{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap_cover{
		position: relative;
		height: 800px;
		overflow: hidden;
	}

	.head_cover{
		position: relative;
		z-index: -5;
		margin-top: -18em;
		width: 100%;
		height: 110vh;
		overflow-y: clip;
		opacity: .9;
		object-fit: cover;
	}


	.hero_block{
		position: relative; 
		z-index: 1;   
		margin-top: -110vh;
		padding: 0 16em;
		height: 110vh; 
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
	.about{
    position: relative;
    z-index: 2; 
    padding: 4rem 1rem;
	}

}



/*  PHONE  */
@media (max-width: 810px){

	.big_fields_text{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap_cover{
		position: relative;
		height: 500px;
		overflow: hidden;
	}

	.head_cover{
		margin-top: -3em;
		position: absolute;
		z-index: -1;
		width: auto;
		height: 90vh;
		object-fit: cover;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		opacity: .9;
		object-fit: cover;
	}

	.hero_block{
    position: relative; 
    z-index: 1;   
    margin-top: -20vh; 
    height: 110vh; 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 .6em;
	}

	.about{
	  position: relative;
	  z-index: 2; 
	  padding: 3rem 1rem;
	}
	
}



.last_articles{
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative;
	background: rgba(0, 0, 0, .8);
}
.last_articles img {
	height: auto; 
	width: 100%; 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .5;
}
.carousel-caption{
	text-align: left;
}
.card{
	background: var(--indigo);
}


.grid-box {
  display: grid;
  gap: 0.7rem;          /* space between cards */
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  padding: 0.7rem;      /* optional page padding */
}



/*  */ /*  */ /*  */
/* Nice geometry */
/*  */ /*  */ /*  */

.geometry_card{
	position: relative;
	width: 20em;
	height: 20em;
	overflow: hidden; 
	z-index: 555;
}
.img_bg_card{
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.br_radius{
	bottom: 0;
	left: 0;
	height: 6em;
	width: 10.3em;
	display: flex;
	align-items: center;
	border-top: 5px solid var(--black);
	border-right: 5px solid var(--black);
	border-bottom: 5px solid var(--black);
}
.anti_circle{
	top: 0;
  	right: 0;
	height: 16em;
	width: 10em;
	 -webkit-mask:
      radial-gradient(ellipse 5em 5em at 50% calc(100% - 1em), transparent 100%, #000 0);          
  	mask:
      radial-gradient(ellipse 5em 5em at 50% calc(100% - 1em), transparent 100%, #000 0);
      splay: flex;
	align-items: flex-start;
	border-left: 5px solid var(--black);
}
.circle{
	bottom: 0;
  	right: 0;
  	z-index: 5;
  	width: 10em;
  	height: 10em;
  	border-radius: 10em;
	border: 5px solid var(--black);
	background: transparent;
}


.prev_text{
	position: relative;
	margin-top: 1em;
}