@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root{
  --black_absolute:rgb(0,0,0);
  --black: rgb(29, 28, 28);
  --gray_light: rgb(217, 217, 217);
  --gray: rgb(119, 118, 118);
  --indigo: rgb(58, 59, 115);
  --lavender: rgb(223, 192, 190);
  --orange: rgb(255, 200, 109);
  --red: rgb(244, 88, 101);
  --seagreen: rgb(151, 209, 195);
  --white: rgb(255, 255, 255);
  --white_warm: rgb(255, 245, 233);
  --white_dirty: rgb(245, 245, 245);
}

html{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  padding: 0;
  color: var(--white);
}

h1, h2, h3, h4, h5 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.tenor{
  font-family: "Tenor Sans", sans-serif;

}

p {
	font-size: 1em;
}

a {
	text-decoration: none!important;
}

.smaller{
	font-size: .7em !important;
}

.big_4{
	font-size: 4em !important;
}


 /* COLORS */ 



.black{
	color: var(--black);
}
.black_absolute{
  color: var(--black_absolute);
}
.gray_light{
  color: var(--gray_light);
}
.gray{
  color: var(--gray);
}
.indigo{
	color: var(--indigo);
}
.lavender{
	color: var(--lavender);
}
.orange {
	color: var(--orange);
}
.red{
	color: var(--red);
}
.seagreen{
	color: var(--seagreen);
}
.white{
	color: var(--white);
}
.white_warm{
	color: var(--white_warm);
}
.white_dirty{
  color: var(--white_dirty);
}


.black_bg{
	background-color: var(--black);
}
.black_absolute_bg{
  background-color: var(--black_absolute);
}
.gray_light_bg{
  background-color: var(--gray_light);
}
.gray_bg{
  background-color: var(--gray);
}
.indigo_bg{
	background-color: var(--indigo);
}
.lavender_bg{
	background-color: var(--lavender);
}
.orange_bg{
	background-color: var(--orange);
}
.red_bg{
	background-color: var(--red);
}
.seagreen_bg{
	background-color: var(--seagreen);
}
.white_bg{
	background-color: var(--white);
}
.white_warm_bg{
	background-color: var(--white_warm);
}
.white_dirty_bg{
  background-color: var(--white_dirty);
}



.absolute{
	position: absolute;
}
.relative{
	position: relative;
}

.tl_radius{
	border-top-left-radius: 3.6em;
}
.tr_radius{
	border-top-right-radius: 3.6em;
}
.br_radius{
	border-bottom-right-radius: 3.6em;
}
.bl_radius{
	border-bottom-left-radius: 3.6em;
}



/*  DESCTOP  */
@media (min-width: 811px){

	.big_fields_text{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.wrap_cover{
		position: relative;
		height: 800px;
		overflow: hidden;
	}

	.head_cover{
		position: relative;
		z-index: -5;
		margin-top: -18em;
		width: 100%;
		height: 110vh;
		overflow-y: clip;
		opacity: .9;
		object-fit: cover;
	}


	.hero_block{
		position: relative; 
		z-index: 1;   
		margin-top: -110vh;
		padding: 0 16em;
		height: 110vh; 
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
	.about{
    position: relative;
    z-index: 2; 
    padding: 4rem 1rem;
	}

}



/*  PHONE  */
@media (max-width: 810px){

	.big_fields_text{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.wrap_cover{
		position: relative;
		height: 500px;
		overflow: hidden;
	}

	.head_cover{
		margin-top: -3em;
		position: absolute;
		z-index: -1;
		width: auto;
		height: 90vh;
		object-fit: cover;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		opacity: .9;
		object-fit: cover;
	}

	.hero_block{
    position: relative; 
    z-index: 1;   
    margin-top: -20vh; 
    height: 110vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .6em;
	}

	.about{
	  position: relative;
	  z-index: 2; 
	  padding: 3rem 1rem;
	}
	
}



