{% load static %}


{% for the_article in articles %}

<div class=''>
	<a href="{% url 'blog:the_article' slug=the_article.slug %}">
		<div class="geometry_card tl_radius relative m-3">
			<img class="img_bg_card" src="{{the_article.img_prev.url}}">

			<div class="d-flex flex-row">
				<div class="">
					<div class="br_radius absolute orange_bg black">
						<center><p class='pt-2 ps-3 small'>{{ the_article.category }}</p></center>
					</div>
					<div class="anti_circle absolute lavender_bg black">
						<h5 class='px-4 pt-5'>{{ the_article.country }}</h5>
						<p class='px-4 pt-1 smaller'>{{ the_article.place_name }}</p>
					</div>
					<div class="circle absolute"></div>
				</div>
			</div>
		</div>
	</a>

<!-- 	<div class="prev_text px-4">
		<h5 class="lavender pb-2">{{ the_article.title }}</h5>
		<a href="{% url 'blog:the_article' slug=the_article.slug %}"><button class=" lavender_bg ">Читать</button></a>
	</div>	 -->
</div>

{% empty %}

<h2>У статей выходной. Сами думайте, куда ехать ;)</h2>

{% endfor %}


<script>
  const container = document.getElementById('article-container');
  document.getElementById('category-buttons').addEventListener('click', e => {
    if (e.target.tagName !== 'BUTTON') return;
    document.querySelectorAll('#category-buttons button')
            .forEach(b => b.classList.remove('active'));
    e.target.classList.add('active');

    fetch(`/blog/category/${e.target.dataset.slug}/`)
      .then(r => r.json())
      .then(data => container.innerHTML = data.html);
  });
</script>