{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<h3 class='ps-4'>Выберите категорию</h3>
<section class='d-flex flex-row ps-4'>
	<button class="mx-1 active"
          data-slug="all">Все</button>
	{% for cat in categories %}
	<button class="mx-1" data-slug="{{ cat.slug }}" type="submit" name='{{cat.category}}'>{{ cat.category }}</button>
	{% empty %}
		<p class='small'>Нет пока категорий</p>
	{% endfor %}
</section>


<section class="grid-box">
	
{% include 'blog/article_list.html' %}

</section>


<script type="text/javascript" src='{% static "js/activate_carousel.js" %}'></script>

<script>
// Initialize Masonry after all images have loaded
window.onload = function() {
    var elem = document.querySelector('.tours_container');
    var msnry = new Masonry(elem, {
        itemSelector: '.card',
        columnWidth: '.card', // Use the card itself as the column width
        percentPosition: true,
        gutter: 20 // Adjust gutter as needed
    });
};
</script>



{% endblock %}