{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="ps-4 py-4 white_warm_bg">

<h1 class='pb-3 indigo'>Интересные места</h1>

<!-- DESCTOP -->
	<div class='d-none d-lg-block d-xl-block d-xxl-block'>
		<strong class=''>Выберите категорию:</strong>
		<section class='d-flex flex-row'>
			<div class="">
				<button class="m-1 active red_bg small" data-slug="all">Все</button>
			</div>
			{% for cat in categories %}
			<div class="">
				<button class="m-1 lavender_bg small" data-slug="{{ cat.slug }}" type="submit" name='{{cat.category}}'>{{ cat.category }}</button>
			</div>
			{% empty %}
				<p class='small'>Нет пока категорий</p>
			{% endfor %}
		</section>
	</div>

<!-- PHONE -->
	<div class='d-block d-lg-none'>
		<strong class=''>Выберите категорию:</strong>

		<section class='row ps-4'>
			<div class="col">
				<button class="m-1  active red_bg small" data-slug="all">Все</button>
			</div>
			{% for cat in categories %}
			<div class="col">
				<button class="m-1 lavender_bg small" data-slug="{{ cat.slug }}" type="submit" name='{{cat.category}}'>{{ cat.category }}</button>
			</div>
			{% empty %}
				<p class='small'>Нет пока категорий</p>
			{% endfor %}
		</section>
	</div>

</div>


<section class="grid-box black_bg">
	
{% include 'blog/article_list.html' %}

</section>


<script type="text/javascript" src='{% static "js/activate_carousel.js" %}'></script>

<script>
// Initialize Masonry after all images have loaded
window.onload = function() {
    var elem = document.querySelector('.tours_container');
    var msnry = new Masonry(elem, {
        itemSelector: '.card',
        columnWidth: '.card', // Use the card itself as the column width
        percentPosition: true,
        gutter: 20 // Adjust gutter as needed
    });
};
</script>



{% endblock %}