{% extends "main/base.html" %}
{% block content %}


<div class='big_fields_text_50'>

  <h1 class="my-5">Вокруг столиц: о проекте</h1>

  <p>Мир большой и интересный.<br>
  Мы любим путешествовать, исследовать, удивляться. Это придаёт нам сил. Надеемся, и вам тоже.</p>
  
  <p>Мы открыты для обратной связи: похвалы, конструктивной критики, советов. И для сотрудничества тоже открыты! Пишите на почту.</p>

  <br>

  <p class="mb-5">А ещё проект можно поддержать, мы скоро придумаем, как.
  <br>Пожалуй, мы выпустим фирменный мерч.</p>

</div>
  
  
{% endblock %}