{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<img class='head_cover' src="{% static 'img/city_cut.jpeg' %}" >

<section class="hero_block">
  <h1 class='orange big_4 ps-2'>Мир за пределами столиц</h1>
  <h2 class='pt-3 white'>Иди туда, где нет толп.
  <br>Живи настоящую жизнь.</h2>
</section>


<div class='big_fields_text'>

<section class='about'>
<p>Забудьте о раскрученных маршрутах и многолюдных достопримечательностях. Наш проект — это приглашение в тот мир, который остается за кадром глянцевых путеводителей. 
<p>Мы считаем, что истинный дух страны и магия путешествий скрыты в её малоизвестных уголках: в маленьких городах с их неторопливым укладом, в неприметных тропах, ведущих к потрясающим видам, и в встречах с местными жителями, чьи истории и составляют настоящую, не приукрашенную жизнь.

<p>Здесь вы не найдете советов по роскошным отелям и дорогим ресторанам. Наша цель — помочь вам открыть места, где путешественник превращается в исследователя. Мы делимся маршрутами, которые поражают своей красотой, но остаются в тени, и рассказываем о культуре, которую не встретишь в столицах. Для всех, кто ищет вдохновения, новых открытий и бюджетных путешествий с настоящим характером.

</section>

</div>

<section class='d-flex justify-content-center'>
{% include 'main/nice_grid.html' %}
</section>


{% endblock %}